/* line 1, ../sass/partials/_masthead.sass */
.masthead {
  position: relative;
  background-color: #37424a;
  height: 480px;
  padding-top: 180px;
}
/* line 6, ../sass/partials/_masthead.sass */
.masthead .banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/capital.jpg);
  background-size: 100% auto;
  background-size: cover;
  opacity: 0.23;
}
/* line 16, ../sass/partials/_masthead.sass */
.masthead .logo {
  margin: 0px auto;
  background-image: url(../images/key-logo.png);
  width: 94px;
  height: 90px;
}
/* line 21, ../sass/partials/_masthead.sass */
.masthead .title, .masthead .subtitle {
  text-align: center;
  text-transform: uppercase;
  margin-top: 8px;
}
/* line 25, ../sass/partials/_masthead.sass */
.masthead .logo, .masthead .title, .masthead .subtitle {
  position: relative;
  z-index: 2;
}
/* line 28, ../sass/partials/_masthead.sass */
.masthead .title {
  font-size: 26px;
  color: white;
}
/* line 31, ../sass/partials/_masthead.sass */
.masthead .subtitle {
  font-size: 18px;
  color: #00b092;
}

/* line 2, ../sass/partials/_contact.sass */
.contact {
  overflow: hidden;
  *zoom: 1;
}
/* line 4, ../sass/partials/_contact.sass */
.contact a {
  float: right;
  clear: both;
  margin-top: 8px;
  margin-right: 8px;
  text-transform: lowercase;
}

/* line 12, ../sass/public.sass */
* {
  box-sizing: border-box;
}

/* line 15, ../sass/public.sass */
body {
  font-family: "DecimaNovaPro";
  font-size: 16px;
  background: #00b092;
  line-height: 1.4;
}

/* line 21, ../sass/public.sass */
h1 {
  color: #00b092;
  font-family: "DecimaNovaPro";
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

/* line 28, ../sass/public.sass */
h2, h3 {
  background-color: #00675a;
  font-family: "adelle", serif;
  font-style: normal;
  font-weight: 100;
  color: white;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 4px;
}

/* line 39, ../sass/public.sass */
h3 {
  font-weight: 300;
}

/* line 42, ../sass/public.sass */
a {
  text-transform: uppercase;
  font-family: "DecimaNovaPro";
  font-weight: bold;
  text-decoration: none;
  color: #37424a;
}
/* line 48, ../sass/public.sass */
a:hover {
  color: #eee8de;
}
/* line 50, ../sass/public.sass */
a:before {
  content: "[";
}
/* line 52, ../sass/public.sass */
a:after {
  content: "]";
}

/* line 55, ../sass/public.sass */
.headline {
  font-family: "DecimaNovaPro";
  color: white;
  margin-top: 32px;
  font-size: 72px;
  text-align: center;
  line-height: 76px;
}
/* line 62, ../sass/public.sass */
.headline .sub {
  font-size: 18px;
  margin: 18px;
  line-height: 1.4;
}
