/* line 1, ../sass/partials/_about.sass */
.about {
  background-color: #eee8de;
  padding: 60px 40px;
}
/* line 5, ../sass/partials/_about.sass */
.about .section-heading {
  color: #37444d;
}
/* line 7, ../sass/partials/_about.sass */
.about .separator {
  border-color: #37444d;
}
/* line 10, ../sass/partials/_about.sass */
.about .services, .about .process {
  color: #37444d;
  margin-bottom: 50px;
}
/* line 14, ../sass/partials/_about.sass */
.about .services .intro, .about .process .intro {
  font-weight: bold;
}
/* line 17, ../sass/partials/_about.sass */
.about .services .images, .about .process .images {
  margin-top: 40px;
  text-align: center;
}
/* line 21, ../sass/partials/_about.sass */
.about .services .images .image-wrapper:first-of-type, .about .process .images .image-wrapper:first-of-type {
  float: left;
}
/* line 23, ../sass/partials/_about.sass */
.about .services .images .image-wrapper:nth-of-type(2), .about .process .images .image-wrapper:nth-of-type(2) {
  display: inline-block;
}
/* line 25, ../sass/partials/_about.sass */
.about .services .images .image-wrapper:nth-of-type(3), .about .process .images .image-wrapper:nth-of-type(3) {
  float: right;
}
/* line 28, ../sass/partials/_about.sass */
.about .services .images .image-wrapper, .about .process .images .image-wrapper {
  width: 28%;
}
/* line 30, ../sass/partials/_about.sass */
.about .services .images .image-wrapper .image, .about .process .images .image-wrapper .image {
  background-color: #c7c2ba;
  border-radius: 2px;
}
/* line 33, ../sass/partials/_about.sass */
.about .services .images .image-wrapper .subtext, .about .process .images .image-wrapper .subtext {
  font-family: "adelle", serif;
  letter-spacing: 1px;
  margin-top: 20px;
  text-transform: uppercase;
}
/* line 40, ../sass/partials/_about.sass */
.about .services .sub-heading {
  background-color: #00b092;
}
/* line 42, ../sass/partials/_about.sass */
.about .services .image {
  height: 250px;
}
/* line 46, ../sass/partials/_about.sass */
.about .process .sub-heading {
  background-color: #00675a;
}
/* line 48, ../sass/partials/_about.sass */
.about .process .image {
  height: 180px;
}
/* line 51, ../sass/partials/_about.sass */
.about .team {
  text-align: center;
}
/* line 54, ../sass/partials/_about.sass */
.about .team .sub-heading {
  background-color: #37424a;
}
/* line 57, ../sass/partials/_about.sass */
.about .team .bio-button {
  background-color: #c7c2ba;
  border-radius: 2px;
  color: #37444d;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 380px;
}
/* line 70, ../sass/partials/_about.sass */
.about .team .bio-button:hover {
  background-color: #00b092;
  color: #eee8de;
}
/* line 74, ../sass/partials/_about.sass */
.about .team .bio {
  overflow: hidden;
  *zoom: 1;
  background-color: #00b092;
  color: #eee8de;
  display: none;
  padding: 40px;
  position: relative;
  text-align: left;
}
/* line 83, ../sass/partials/_about.sass */
.about .team .bio .name-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
/* line 89, ../sass/partials/_about.sass */
.about .team .bio .name {
  text-transform: uppercase;
}
/* line 92, ../sass/partials/_about.sass */
.about .team .bio .bio-left, .about .team .bio .bio-right {
  width: 50%;
  max-width: 360px;
}
/* line 96, ../sass/partials/_about.sass */
.about .team .bio .bio-left {
  float: left;
}
/* line 98, ../sass/partials/_about.sass */
.about .team .bio .bio-left p {
  margin-bottom: 24px;
}
/* line 101, ../sass/partials/_about.sass */
.about .team .bio .bio-right {
  float: right;
}
/* line 104, ../sass/partials/_about.sass */
.about .team .bio .bio-right .picture {
  background-color: #c7c2ba;
  height: 200px;
  margin-top: 60px;
  width: 350px;
}
/* line 110, ../sass/partials/_about.sass */
.about .team .bio .bio-right .email, .about .team .bio .bio-right .twitter {
  text-transform: uppercase;
}
/* line 112, ../sass/partials/_about.sass */
.about .team .bio .bio-right .email a, .about .team .bio .bio-right .twitter a {
  text-transform: none;
}
/* line 114, ../sass/partials/_about.sass */
.about .team .bio .bio-right .email a:before, .about .team .bio .bio-right .twitter a:before {
  content: "";
}
/* line 116, ../sass/partials/_about.sass */
.about .team .bio .bio-right .email a:after, .about .team .bio .bio-right .twitter a:after {
  content: "";
}
/* line 119, ../sass/partials/_about.sass */
.about .team .bio .close {
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 42px;
  font-weight: bold;
}
/* line 126, ../sass/partials/_about.sass */
.about .team .bio .close:hover {
  color: #37444d;
  cursor: pointer;
}

/* line 1, ../sass/partials/_clients.sass */
.clients {
  background-color: #00675a;
  color: #00b092;
  padding: 60px 80px;
}
/* line 6, ../sass/partials/_clients.sass */
.clients .separator {
  border-color: #00b092;
}
/* line 10, ../sass/partials/_clients.sass */
.clients .past .sub-heading, .clients .future .sub-heading, .clients .feedback .sub-heading {
  background-color: #00b092;
}
/* line 13, ../sass/partials/_clients.sass */
.clients .past, .clients .future {
  color: white;
  height: 180px;
  width: 380px;
}
/* line 18, ../sass/partials/_clients.sass */
.clients .past {
  float: left;
}
/* line 20, ../sass/partials/_clients.sass */
.clients .past .logo {
  background-color: #00b092;
  float: left;
  height: 50px;
  margin: 4px;
  width: 118px;
  text-align: center;
}
/* line 27, ../sass/partials/_clients.sass */
.clients .past .logo img {
  max-width: 100%;
  max-height: 100%;
}
/* line 31, ../sass/partials/_clients.sass */
.clients .future {
  float: right;
  margin-bottom: 50px;
}
/* line 35, ../sass/partials/_clients.sass */
.clients .feedback {
  clear: both;
  text-align: center;
}
/* line 39, ../sass/partials/_clients.sass */
.clients .feedback .quote {
  font-family: "adelle", serif;
  font-size: 22px;
  margin-bottom: 8px;
}
/* line 44, ../sass/partials/_clients.sass */
.clients .feedback .quoted {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 1, ../sass/partials/_contact.sass */
.contact-info {
  overflow: hidden;
  *zoom: 1;
}
/* line 3, ../sass/partials/_contact.sass */
.contact-info a {
  float: right;
  clear: both;
  margin-top: 8px;
  margin-right: 8px;
  text-transform: lowercase;
}

/* line 10, ../sass/partials/_contact.sass */
.contact-us {
  padding: 60px 80px;
  color: #37444d;
}
/* line 14, ../sass/partials/_contact.sass */
.contact-us .section-heading {
  color: #37444d;
}
/* line 16, ../sass/partials/_contact.sass */
.contact-us .separator {
  border-color: #37444d;
}
/* line 19, ../sass/partials/_contact.sass */
.contact-us form {
  overflow: hidden;
  *zoom: 1;
}
/* line 21, ../sass/partials/_contact.sass */
.contact-us form .left, .contact-us form .right {
  float: left;
  margin: 12px;
}
/* line 27, ../sass/partials/_contact.sass */
.contact-us form label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 4px;
}
/* line 34, ../sass/partials/_contact.sass */
.contact-us form input, .contact-us form textarea {
  background-color: #37444d;
  color: white;
  border: none;
  font-size: 18px;
}
/* line 39, ../sass/partials/_contact.sass */
.contact-us form input[type=text], .contact-us form textarea[type=text] {
  width: 360px;
  height: 45px;
  padding-left: 8px;
  font-weight: 100;
}
/* line 44, ../sass/partials/_contact.sass */
.contact-us form textarea {
  padding: 8px;
}
/* line 47, ../sass/partials/_contact.sass */
.contact-us form #name {
  margin-bottom: 30px;
}
/* line 50, ../sass/partials/_contact.sass */
.contact-us form textarea {
  width: 360px;
  height: 125px;
  resize: none;
}
/* line 55, ../sass/partials/_contact.sass */
.contact-us form input[type=submit] {
  clear: both;
  display: block;
  font-family: "DecimaNovaPro";
  font-weight: bold;
  height: 45px;
  letter-spacing: 1px;
  line-height: 45px;
  text-transform: uppercase;
  width: 150px;
}

/* line 1, ../sass/partials/_headline.sass */
.headline {
  font-family: "DecimaNovaPro";
  color: white;
  margin: 32px auto;
  font-size: 72px;
  text-align: center;
  line-height: 76px;
  max-width: 800px;
}
/* line 9, ../sass/partials/_headline.sass */
.headline .sub {
  font-size: 20px;
  margin-top: 18px;
  line-height: 1.4;
}

/* line 1, ../sass/partials/_long_haul.sass */
.long-haul {
  background-image: url("/images/long_haul.jpg");
  background-size: 100% auto;
  background-position: 50% 80%;
  background-repeat: no-repeat;
  height: 410px;
  text-align: center;
  padding-top: 100px;
}
/* line 10, ../sass/partials/_long_haul.sass */
.long-haul .title, .long-haul .supertitle {
  color: #37424a;
  text-shadow: 0 1px white;
}
/* line 14, ../sass/partials/_long_haul.sass */
.long-haul .title {
  font-size: 56px;
}
/* line 17, ../sass/partials/_long_haul.sass */
.long-haul .supertitle {
  font-size: 68px;
  text-transform: uppercase;
}
/* line 21, ../sass/partials/_long_haul.sass */
.long-haul .subtext {
  color: white;
  font-family: "adelle", serif;
}

/* line 1, ../sass/partials/_make_it_so.sass */
.make-it-so {
  height: 410px;
  text-align: center;
  padding-top: 100px;
}
/* line 6, ../sass/partials/_make_it_so.sass */
.make-it-so .title, .make-it-so .supertitle {
  color: white;
  text-shadow: 0 1px black;
}
/* line 10, ../sass/partials/_make_it_so.sass */
.make-it-so .title {
  font-size: 56px;
}
/* line 13, ../sass/partials/_make_it_so.sass */
.make-it-so .supertitle {
  font-size: 68px;
  text-transform: uppercase;
}
/* line 17, ../sass/partials/_make_it_so.sass */
.make-it-so .subtext {
  color: white;
  font-family: "adelle", serif;
}

/* line 1, ../sass/partials/_map.sass */
.map {
  background-image: url("/images/green_map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 500px;
  text-align: center;
  padding-top: 165px;
}
/* line 10, ../sass/partials/_map.sass */
.map .logo {
  height: 150px;
}
/* line 13, ../sass/partials/_map.sass */
.map .info {
  color: #00b092;
  font-weight: bold;
  margin-top: 100px;
}
/* line 17, ../sass/partials/_map.sass */
.map .info .phone, .map .info .city {
  color: white;
  text-transform: uppercase;
}

/* line 1, ../sass/partials/_masthead.sass */
.masthead {
  position: relative;
  background-color: #37424a;
  height: 480px;
  padding-top: 180px;
}
/* line 6, ../sass/partials/_masthead.sass */
.masthead .banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/capital.jpg);
  background-size: 100% auto;
  background-size: cover;
  opacity: 0.23;
}
/* line 16, ../sass/partials/_masthead.sass */
.masthead .logo {
  margin: 0px auto;
  background-image: url(../images/key-logo.png);
  width: 94px;
  height: 90px;
}
/* line 21, ../sass/partials/_masthead.sass */
.masthead .title, .masthead .subtitle {
  text-align: center;
  text-transform: uppercase;
  margin-top: 8px;
}
/* line 25, ../sass/partials/_masthead.sass */
.masthead .logo, .masthead .title, .masthead .subtitle {
  position: relative;
  z-index: 2;
}
/* line 28, ../sass/partials/_masthead.sass */
.masthead .title {
  font-size: 26px;
  color: white;
}
/* line 31, ../sass/partials/_masthead.sass */
.masthead .subtitle {
  font-size: 18px;
  color: #00b092;
}

/* line 1, ../sass/partials/_our_work.sass */
.our-work {
  overflow: hidden;
  *zoom: 1;
  background-color: #eee8de;
  padding: 60px 40px;
}
/* line 6, ../sass/partials/_our_work.sass */
.our-work .section-heading {
  color: #37444d;
}
/* line 8, ../sass/partials/_our_work.sass */
.our-work .separator {
  border-color: #37444d;
}
/* line 11, ../sass/partials/_our_work.sass */
.our-work .logos {
  text-align: center;
}
/* line 14, ../sass/partials/_our_work.sass */
.our-work .logos .logo {
  background-color: #c7c2ba;
  display: inline-block;
  height: 230px;
  margin: 2.5px;
  width: 240px;
}

/* line 1, ../sass/partials/_testimonials.sass */
.testimonials {
  overflow: hidden;
  *zoom: 1;
  background-color: #37424a;
  padding: 60px 80px;
  text-align: center;
  font-weight: 100;
}
/* line 8, ../sass/partials/_testimonials.sass */
.testimonials .section-heading {
  color: #00b092;
}
/* line 10, ../sass/partials/_testimonials.sass */
.testimonials .separator {
  border-color: #00b092;
}
/* line 13, ../sass/partials/_testimonials.sass */
.testimonials .testimonial {
  text-align: left;
  margin: 0 50px 50px 50px;
  display: inline-block;
  color: white;
  width: 380px;
  height: 180px;
  font-family: "adelle", serif;
}
/* line 22, ../sass/partials/_testimonials.sass */
.testimonials .testimonial .quoted {
  font-family: "DecimaNovaPro";
  margin-top: 16px;
  color: #00b092;
  text-transform: uppercase;
  font-size: 1.2em;
}
/* line 28, ../sass/partials/_testimonials.sass */
.testimonials .testimonial .quoted span.business {
  font-size: 0.7em;
}

/* line 28, ../sass/public.sass */
* {
  box-sizing: border-box;
}

/* line 31, ../sass/public.sass */
body {
  font-family: "DecimaNovaPro";
  font-size: 16px;
  background: #00b092;
  line-height: 1.4;
}

/* line 37, ../sass/public.sass */
h1 {
  color: #00b092;
  font-family: "DecimaNovaPro";
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

/* line 44, ../sass/public.sass */
h2, h3 {
  background-color: #00675a;
  font-family: "adelle", serif;
  font-style: normal;
  font-weight: 100;
  color: white;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 4px;
}

/* line 55, ../sass/public.sass */
h3 {
  font-weight: 300;
}

/* line 58, ../sass/public.sass */
a {
  text-transform: uppercase;
  font-family: "DecimaNovaPro";
  font-weight: bold;
  text-decoration: none;
  color: #37424a;
}
/* line 64, ../sass/public.sass */
a:hover {
  color: #eee8de;
}
/* line 66, ../sass/public.sass */
a:before {
  content: "[";
}
/* line 68, ../sass/public.sass */
a:after {
  content: "]";
}
/* line 70, ../sass/public.sass */
a.inline {
  color: inherit;
  text-transform: none;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: underline;
}
/* line 76, ../sass/public.sass */
a.inline:before {
  content: none;
}
/* line 78, ../sass/public.sass */
a.inline:after {
  content: none;
}
/* line 80, ../sass/public.sass */
a.inline:hover {
  color: #37424a;
}

/* line 83, ../sass/public.sass */
.section-heading {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* line 90, ../sass/public.sass */
.separator {
  overflow: hidden;
  *zoom: 1;
  border-style: solid;
  border-width: 2px 2px 0 2px;
  height: 10px;
  margin-bottom: 40px;
}

/* line 97, ../sass/public.sass */
.sub-heading {
  color: white;
  font-family: "adelle", serif;
  height: 30px;
  line-height: 30px;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
}
