$cream: #EEE8DE
$dark-gray: #37444D
$dark-green: #00675A
$gray: #C7C2BA
$green: #00B092
$navy: #37424A
$orange: #EC7A08
$purple: #B29FA4
$red: #A70240
$white: #EEE8DE

$serif: "adelle", serif
$sans-serif: 'DecimaNovaPro'

@import compass

@import partials/layout

@import partials/about
@import partials/clients
@import partials/contact
@import partials/headline
@import partials/long_haul
@import partials/make_it_so
@import partials/map
@import partials/masthead
@import partials/our_work
@import partials/testimonials
@import partials/team

