---
---
!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Ten Forward Consulting - Ruby on Rails, HTML5 and Mobile experts
    %meta{name: 'description', content: "Ten Forward Consulting's expert team provides agile web and mobile consulting and development to startups, Fortune 500s and everyone in between."}
    %link{href: "css/fonts.css", rel: "stylesheet", type: "text/css"}
    %link{href: "css/reset.css", rel: "stylesheet", type: "text/css"}
    %link{href: "css/public.css", rel: "stylesheet", type: "text/css"}

  %body
    .description{style: "display: none"}
      Ten Forward Consulting's expert team provides agile web and mobile consulting and development to startups, Fortune 500s and everyone in between.

    .masthead
      .banner
      .logo
      .title Ten Forward
      .subtitle Consulting

    .headline
      Things are only impossible
      until they're not.
      .sub
        Our experts bring your vision to life through high quality web and mobile applications
        focused on your users' experience and your business's goals.

    .clients
      .section-heading Clients
      .separator
      .past
        .sub-heading Past
        .logo
          %img{src: "images/logos/BKlogo.png"}
        .logo
        .logo
        .logo
        .logo
        .logo
      .future
        .sub-heading Future
        Are you looking forward to the future?  We are.  From small businesses to well-established firms, we are partnering with companies spanning a wide range of industries to solve their software needs.  From startups to universities, entrepreneurs to Fortune 500s,  we create custom web and mobile applications tailored to meet their exact needs.  Our next greatest client?
        %a.inline{href: "#contact"} It could be you.

      .feedback
        .sub-heading Feedback
        .quote "Ten Forward has been an excellent partner in the development of our mobile app."
        .quoted Jeffrey Sullivan, Minute Menu Systems

    .long-haul
      .title We're here for the
      .supertitle Long Haul.
      .subtext After all, we've made it through Wisconsin winters.

    .our-work
      .section-heading Work
      .separator
      .logos
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo

    .make-it-so
      .title Whatever you need, we'll
      .supertitle Make It So.
      .subtext Your project is in good hands.

    .about
      .section-heading About
      .separator
      .services
        .sub-heading Services
        %span.intro What can't we do for you?
        Ea vegan put a bird on it authentic Schlitz, messenger bag excepteur. Chillwave magna irony, Helvetica roof party 90's consectetur cupidatat Odd Future American Apparel. Paleo whatever vero photo booth, et distillery culpa kogi art party duis DIY.
        .images
          .image-wrapper
            .image
            .subtext Consulting
          .image-wrapper
            .image
            .subtext Development
          .image-wrapper
            .image
            .subtext Support
      .process
        .sub-heading Process
        %p
          %span.intro You may have worked with other developers in the past, or this may be your first software project.
          Ten Forward Consulting practices agile development and primarily runs projects in 1-2 week sprints.  We work with your team to identify a backlog of issues (user stories), bugs, and improvements - that need to be implemented and monitor our progress against that backlog during our sprints.  This helps create an easy, reliable method of estimating development speed and expectations for future sprints.  The 2-week cycle also has an advantage of keeping expectations in line and providing feedback to ensure everyone is always on the same page.

        .images
          .image-wrapper
            .image
          .image-wrapper
            .image
          .image-wrapper
            .image
      .team
        .sub-heading Team
        .bio-buttons
          .bio-button{data: { name: 'brian' }} Brian Samson
          .bio-button{data: { name: 'brett' }} Brett Samson
          .bio-button{data: { name: 'kyle' }} Kyle Hanstad
          .bio-button{data: { name: 'zach' }} Zach Boatrite
          .bio-button{data: { name: 'sophia' }} Sophia Allen

        .bio{data: { name: 'brian' }}
          .close X
          .bio-left
            .name-title Brian Samson
            %p
              %span.name Brian
              is the found and president of Ten Forward Consulting. Nostrud adipisicing sustainable single-origin coffee, dolore Schlitz iPhone occupy. Brunch biodiesel trust fund, deep v 8-bit four dollar toast selfies tousled aliquip pariatur street art non nesciunt laborum. Mixtape typewriter Tumblr, pork belly cillum ex aute Echo Park keytar. Pariatur Echo Park deserunt, Neutra hashtag pop-up sunt DIY ethical aute placeat sartorial freegan Tumblr.
          .bio-right
            %img.picture{src: '/images/brian.jpg'}
            .email
              Email:
              %a{href: 'mailto:brian@tenforwardconsulting.com'}brian@tenforwardconsulting.com
            .twitter
              Twitter:
              %a{href: 'https://twitter.com/samsonasu'}@samsonasu

        .bio{data: { name: 'brett' }}
          .close X
          .bio-left
            .name-title Brett Samson
            %p
              %span.name Brett
              Nostrud adipisicing sustainable single-origin coffee, dolore Schlitz iPhone occupy. Brunch biodiesel trust fund, deep v 8-bit four dollar toast selfies tousled aliquip pariatur street art non nesciunt laborum. Mixtape typewriter Tumblr, pork belly cillum ex aute Echo Park keytar. Pariatur Echo Park deserunt, Neutra hashtag pop-up sunt DIY ethical aute placeat sartorial freegan Tumblr.
          .bio-right
            %img.picture{src: '/images/brett.jpg'}
            .email
              Email:
              %a{href: 'mailto:brett@tenforwardconsulting.com'}brett@tenforwardconsulting.com
            .twitter
              Twitter:
              %a{href: 'https://twitter.com/'}@something

        .bio{data: { name: 'kyle' }}
          .close X
          .bio-left
            .name-title Kyle Hanstad
            %p
              %span.name Kyle
              Nostrud adipisicing sustainable single-origin coffee, dolore Schlitz iPhone occupy. Brunch biodiesel trust fund, deep v 8-bit four dollar toast selfies tousled aliquip pariatur street art non nesciunt laborum. Mixtape typewriter Tumblr, pork belly cillum ex aute Echo Park keytar. Pariatur Echo Park deserunt, Neutra hashtag pop-up sunt DIY ethical aute placeat sartorial freegan Tumblr.
          .bio-right
            %img.picture{src: '/images/kyle.jpg'}
            .email
              Email:
              %a{href: 'mailto:kyle@tenforwardconsulting.com'}kyle@tenforwardconsulting.com
            .twitter
              Twitter:
              %a{href: 'https://twitter.com/'}@something

        .bio{data: { name: 'zach' }}
          .close X
          .bio-left
            .name-title Zach Boatrite
            %p
              %span.name Zach
              Nostrud adipisicing sustainable single-origin coffee, dolore Schlitz iPhone occupy. Brunch biodiesel trust fund, deep v 8-bit four dollar toast selfies tousled aliquip pariatur street art non nesciunt laborum. Mixtape typewriter Tumblr, pork belly cillum ex aute Echo Park keytar. Pariatur Echo Park deserunt, Neutra hashtag pop-up sunt DIY ethical aute placeat sartorial freegan Tumblr.
          .bio-right
            %img.picture{src: '/images/zach.jpg'}
            .email
              Email:
              %a{href: 'mailto:zach@tenforwardconsulting.com'}zach@tenforwardconsulting.com
            .twitter
              Twitter:
              %a{href: 'https://twitter.com/ZachBoatrite'}@ZachBoatrite

        .bio{data: { name: 'sophia' }}
          .close X
          .bio-left
            .name-title Sophia Allen
            %p
              %span.name Sophia
              Nostrud adipisicing sustainable single-origin coffee, dolore Schlitz iPhone occupy. Brunch biodiesel trust fund, deep v 8-bit four dollar toast selfies tousled aliquip pariatur street art non nesciunt laborum. Mixtape typewriter Tumblr, pork belly cillum ex aute Echo Park keytar. Pariatur Echo Park deserunt, Neutra hashtag pop-up sunt DIY ethical aute placeat sartorial freegan Tumblr.
          .bio-right
            %img.picture{src: '/images/sophia.jpg'}
            .email
              Email:
              %a{href: 'mailto:sophia@tenforwardconsulting.com'}sophia@tenforwardconsulting.com
            .twitter
              Twitter:
              %a{href: 'https://twitter.com/'}@something

    .testimonials
      .section-heading Testimonials
      .separator

      .testimonial
        "Ten Forward was fantastic to work with and I fully recommend them. The work product was great and they are always reliable with response time, deadlines, etc. Additionally, I thought they did a very good job of understanding the entire scope of the project making sure that we were as efficient as possible."
        .quoted
          Bob Matteson
          %span.business / Mobile Doorman

      .testimonial
        "Ten Forward has been an excellent partner in the development of our mobile app. Brian and team took on a project that had stalled when a key employee fell sick and helped us get the product into market and enhanced over the past 7 months. Their knowledge of the technology is outstanding, and their responsiveness in working with us has been top-notch."
        .quoted
          Jeff Sullivan
          %span.business / Minute Menu Systems

      .testimonial
        "Our experience with Brian has been nothing short of exceptional. We brought him in under an extremely tight deadline and he excelled in every task that came his way. He is an excellent communicator, which as a project manager, is truly invaluable.  Two words... GREAT WORK!!"
        .quoted
          Brett Danick
          %span.business / Viva Creative

      .testimonial
        "We hired Brian to parachute in to our development team after winning the bid on a mobile (web) and browser ecommerce application for a high profile customer... he greatly exceeded my expectations. We deployed to production on schedule and impressed the customer with our beautiful solution! We REALLY lucked out finding Brian. We would not have hit our date without him."
        .quoted
          Anthony Kua
          %span.business / Tillster

    .contact-us#contact
      .section-heading Get in Touch
      .separator

      %form{:action => "https://googleapps.insight.ly/WebToContact/Create", :method => "post", :name => "insightly_web_to_contact"}
        %input{:name => "formId", :type => "hidden", :value => "KKd2Chse6OonMr9DZSwysw=="}
        .left
          .field
            %label{:for => "insightly_firstName"} First Name:
            %input#insightly_firstName{:name => "FirstName", :type => "text"}
          .field
            %label{:for => "insightly_lastName"} Last Name:
            %input#insightly_lastName{:name => "LastName", :type => "text"}
          .field
            %label{:for => "insightly_organization"} Organization:
            %input#insightly_organization{:name => "Organization", :type => "text"}
          .field
            %label{:for => "insightly_role"} Title:
            %input#insightly_role{:name => "Role", :type => "text"}
        .right
          .field
            %input{:name => "emails[0].Label", :type => "hidden", :value => "Work"}
            %label{:for => "email[0]_Value"} Email:
            %input{:id => "emails[0]_Value", :name => "emails[0].Value", :type => "text"}
          .field
            %input{:name => "phones[0].Label", :type => "hidden", :value => "Work"}
            %label{:for => "phones[0]_Value"} Phone:
            %input{:id => "phones[0]_Value", :name => "phones[0].Value", :type => "text"}
          .field
            %label{:for => "insightly_background"} Comments:
            %textarea#insightly_background{:name => "background"}
          %input.submit{:type => "submit", :value => "Send"}

    .map
      %img.logo{src: '/images/logo.png'}
      .info
        %a{href: 'mailto:info@tenforwardconsulting.com'} info@tenforwardconsulting.com
        %a{href: 'tel:6086205104'} 608.620.5104
        %br
        %span.city Madison, WI

    %script{type:"text/javascript", src: "//use.typekit.net/qtt8npn.js"}
    %script{type:"text/javascript", src: "/javascript/jquery-1.11.2.min.js"}
    %script{type:"text/javascript", src: "/javascript/team_viewer.js"}
    :javascript
      try{Typekit.load();}catch(e){}
      $(document).ready(function() {
        new TenForward.TeamViewer;
      });
