---
---
!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Ten Forward Consulting - Ruby on Rails, HTML5 and Mobile experts
    %meta{name: 'description', content: "Ten Forward Consulting's expert team provides agile web and mobile consulting and development to startups, Fortune 500s and everyone in between."}
    %link{href: "css/fonts.css", rel: "stylesheet", type: "text/css"}
    %link{href: "css/reset.css", rel: "stylesheet", type: "text/css"}
    %link{href: "css/public.css", rel: "stylesheet", type: "text/css"}

  %body
    .description{style: "display: none"}
      Ten Forward Consulting's expert team provides agile web and mobile consulting and development to startups, Fortune 500s and everyone in between.

    .masthead
      .banner
      .logo
      .title Ten Forward
      .subtitle Consulting

    .contact-info
      %a{href: 'mailto:info@tenforwardconsulting.com'} info@tenforwardconsulting.com
      %a{href: 'tel:6086205104'} 608.620.5104

    .headline
      Things are only impossible
      until they're not.
      .sub
        Our experts bring your vision to life through high quality web and mobile applications
        focused on your users' experience and your business's goals.

    .clients
      .section-heading Clients
      .separator
      .past
        .sub-heading Past
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
      .future
        .sub-heading Future
        Organic readymade McSweeney's pork belly, adipisicing cupidatat 8-bit assumenda irony Godard slow-carb Wes Anderson odio. PBR aliqua iPhone, plaid aliquip laboris semiotics voluptate biodiesel tilde YOLO. Sint selfies mollit kale chips.
      .feedback
        .sub-heading Feedback
        .quote "Brian and his team gave us peace of mind and a great app..."
        .quoted Paul Sansbury, United Airlines

    .long-haul
      .title We're here for the
      .supertitle Long Haul.
      .subtext After all, we've made it through Wisconsin winters.

    .our-work
      .section-heading Work
      .separator
      .logos
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo
        .logo

    .make-it-so
      .title Whatever you need, we'll
      .supertitle Make It So.
      .subtext Your project is in good hands.

    .about
      .section-heading About
      .separator
      .services
        .sub-heading Services
        %span.intro What can't we do for you?
        Ea vegan put a bird on it authentic Schlitz, messenger bag excepteur. Chillwave magna irony, Helvetica roof party 90's consectetur cupidatat Odd Future American Apparel. Paleo whatever vero photo booth, et distillery culpa kogi art party duis DIY.
        .images
          .image-wrapper
            .image
            .subtext Consulting
          .image-wrapper
            .image
            .subtext Development
          .image-wrapper
            .image
            .subtext Support
      .process
        .sub-heading Process
        %span.intro You may have worked with other developers in the past, or this may be your first project.
        Whatever the case, we marfa leggings keytar commodo, 90's butcher consectetur qui esse aesthetic Pinterest tote bag XOXO raw denim master cleanse. Drinking vinegar nulla wayfarers, nesciunt messenger bag McSweeney's put a bird on it fugiat organic sint skateboard quinoa readymade distillery cliche. Lo-fi Banksy vinyl freegan Austin.
        .images
          .image-wrapper
            .image
          .image-wrapper
            .image
          .image-wrapper
            .image
      .team
        .sub-heading Team
        .bio-buttons
          .bio-button{data: { name: 'brian' }} Brian Samson
          .bio-button{data: { name: 'brett' }} Brett Samson
          .bio-button{data: { name: 'kyle' }} Kyle Hanstad
          .bio-button{data: { name: 'zach' }} Zach Boatrite
          .bio-button{data: { name: 'sophia' }} Sophia Allen

        .bio{data: { name: 'brian' }}
          .close X
          .bio-left
            .name-title Brian Samson
            %p
              %span.name Brian
              is the found and president of Ten Forward Consulting. Nostrud adipisicing sustainable single-origin coffee, dolore Schlitz iPhone occupy. Brunch biodiesel trust fund, deep v 8-bit four dollar toast selfies tousled aliquip pariatur street art non nesciunt laborum. Mixtape typewriter Tumblr, pork belly cillum ex aute Echo Park keytar. Pariatur Echo Park deserunt, Neutra hashtag pop-up sunt DIY ethical aute placeat sartorial freegan Tumblr.
          .bio-right
            %img.picture{src: '/images/brian.jpg'}
            .email
              Email:
              %a{href: 'mailto:brian@tenforwardconsulting.com'}brian@tenforwardconsulting.com
            .twitter
              Twitter:
              %a{href: 'https://twitter.com/samsonasu'}@samsonasu

        .bio{data: { name: 'brett' }}
          .close X
          .bio-left
            .name-title Brett Samson
            %p
              %span.name Brett
              Nostrud adipisicing sustainable single-origin coffee, dolore Schlitz iPhone occupy. Brunch biodiesel trust fund, deep v 8-bit four dollar toast selfies tousled aliquip pariatur street art non nesciunt laborum. Mixtape typewriter Tumblr, pork belly cillum ex aute Echo Park keytar. Pariatur Echo Park deserunt, Neutra hashtag pop-up sunt DIY ethical aute placeat sartorial freegan Tumblr.
          .bio-right
            %img.picture{src: '/images/brett.jpg'}
            .email
              Email:
              %a{href: 'mailto:brett@tenforwardconsulting.com'}brett@tenforwardconsulting.com
            .twitter
              Twitter:
              %a{href: 'https://twitter.com/'}@something

        .bio{data: { name: 'kyle' }}
          .close X
          .bio-left
            .name-title Kyle Hanstad
            %p
              %span.name Kyle
              Nostrud adipisicing sustainable single-origin coffee, dolore Schlitz iPhone occupy. Brunch biodiesel trust fund, deep v 8-bit four dollar toast selfies tousled aliquip pariatur street art non nesciunt laborum. Mixtape typewriter Tumblr, pork belly cillum ex aute Echo Park keytar. Pariatur Echo Park deserunt, Neutra hashtag pop-up sunt DIY ethical aute placeat sartorial freegan Tumblr.
          .bio-right
            %img.picture{src: '/images/kyle.jpg'}
            .email
              Email:
              %a{href: 'mailto:kyle@tenforwardconsulting.com'}kyle@tenforwardconsulting.com
            .twitter
              Twitter:
              %a{href: 'https://twitter.com/'}@something

        .bio{data: { name: 'zach' }}
          .close X
          .bio-left
            .name-title Zach Boatrite
            %p
              %span.name Zach
              Nostrud adipisicing sustainable single-origin coffee, dolore Schlitz iPhone occupy. Brunch biodiesel trust fund, deep v 8-bit four dollar toast selfies tousled aliquip pariatur street art non nesciunt laborum. Mixtape typewriter Tumblr, pork belly cillum ex aute Echo Park keytar. Pariatur Echo Park deserunt, Neutra hashtag pop-up sunt DIY ethical aute placeat sartorial freegan Tumblr.
          .bio-right
            %img.picture{src: '/images/zach.jpg'}
            .email
              Email:
              %a{href: 'mailto:zach@tenforwardconsulting.com'}zach@tenforwardconsulting.com
            .twitter
              Twitter:
              %a{href: 'https://twitter.com/ZachBoatrite'}@ZachBoatrite

        .bio{data: { name: 'sophia' }}
          .close X
          .bio-left
            .name-title Sophia Allen
            %p
              %span.name Sophia
              Nostrud adipisicing sustainable single-origin coffee, dolore Schlitz iPhone occupy. Brunch biodiesel trust fund, deep v 8-bit four dollar toast selfies tousled aliquip pariatur street art non nesciunt laborum. Mixtape typewriter Tumblr, pork belly cillum ex aute Echo Park keytar. Pariatur Echo Park deserunt, Neutra hashtag pop-up sunt DIY ethical aute placeat sartorial freegan Tumblr.
          .bio-right
            %img.picture{src: '/images/sophia.jpg'}
            .email
              Email:
              %a{href: 'mailto:sophia@tenforwardconsulting.com'}sophia@tenforwardconsulting.com
            .twitter
              Twitter:
              %a{href: 'https://twitter.com/'}@something

    .testimonials
      .section-heading Testimonials
      .separator

      .testimonial
        "I can't say enough good things about Brian and his team. Consequat officia artisan Wes Anderson. Authentic commodo mustache ad roof party pour-over. Nihil sunt gentrify 3 wolf moon you probably haven't heard of them"
        .quoted
          Ron Johnson
          %span.business / Burger King

      .testimonial
        "I can't say enough good things about Brian and his team. Consequat officia artisan Wes Anderson. Authentic commodo mustache ad roof party pour-over. Nihil sunt gentrify 3 wolf moon you probably haven't heard of them"
        .quoted
          Anna Nixon
          %span.business / Morgan Stanley

      .testimonial
        "I can't say enough good things about Brian and his team. Consequat officia artisan Wes Anderson. Authentic commodo mustache ad roof party pour-over. Nihil sunt gentrify 3 wolf moon you probably haven't heard of them"
        .quoted
          Jack Raider
          %span.business / Cuna Mutual

      .testimonial
        "I can't say enough good things about Brian and his team. Consequat officia artisan Wes Anderson. Authentic commodo mustache ad roof party pour-over. Nihil sunt gentrify 3 wolf moon you probably haven't heard of them"
        .quoted
          Derek Herzog
          %span.business / Madison Gas &amp; Electric

    .contact-us
      .section-heading Contact
      .separator
      %form
        .left
          .field
            %label{for: 'name'} Name
            %input#name{type: 'text', name: 'name'}

          .field
            %label{for: 'email'} Email
            %input#email{type: 'text', name: 'email'}

        .right
          .field
            %label{for: 'message'}  Message
            %input#message{type: 'text', name: 'message'}

        %input.submit{type: 'submit', value: 'Send'}

    .map
      %img.logo{src: '/images/logo.png'}
      .info
        %span.phone 608.602.4104
        \/
        %span.city Madison, WI

    %script{type:"text/javascript", src: "//use.typekit.net/qtt8npn.js"}
    %script{type:"text/javascript", src: "/javascript/jquery-1.11.2.min.js"}
    %script{type:"text/javascript", src: "/javascript/team_viewer.js"}
    :javascript
      try{Typekit.load();}catch(e){}
      $(document).ready(function() {
        new TenForward.TeamViewer;
      });
