.about
  background-color: $cream
  padding: 60px 40px

  .section-heading
    color: $dark-gray
  .separator
    border-color: $dark-gray

  .services, .process
    color: $dark-gray
    margin-bottom: 50px

    .intro
      font-weight: bold

    .images
      margin-top: 40px
      text-align: center

      .image-wrapper:first-of-type
        float: left
      .image-wrapper:nth-of-type(2)
        display: inline-block
      .image-wrapper:nth-of-type(3)
        float: right

      .image-wrapper
        width: 28%
        .image
          background-color: $gray
          border-radius: 2px
        .subtext
          font-family: $serif
          letter-spacing: 1px
          margin-top: 20px
          text-transform: uppercase

  .services
    .sub-heading
      background-color: $green
    .image
      height: 250px

  .process
    .sub-heading
      background-color: $dark-green
    .image
      height: 180px

  .team
    text-align: center

    .sub-heading
      background-color: $navy

    .bio-button
      background-color: $gray
      border-radius: 2px
      color: $dark-gray
      cursor: pointer
      display: inline-block
      font-weight: bold
      height: 100px
      line-height: 100px
      margin: 5px
      text-align: center
      text-transform: uppercase
      width: 380px

      &:hover
        background-color: $green
        color: $white

